tmp/*
log/*
.byebug_history
.git
.gitignore
.dockerignore
.github
.scannerwork
coverage
node_modules
spec
.idea
public/packs
public/packs-test
#config/ssl
config/credentials/production.key
db/development.sqlite3
db/test.sqlite3
