%main.govuk-main-wrapper#main-content{role: 'main'}
  - if @error_message
    .govuk-error-summary{'aria-labelledby': 'error-summary-title', 'data-module': 'error-summary', role: 'alert', tabindex: '-1'}
      %h2#error-summary-title.govuk-error-summary__title
        There is a problem
      .govuk-error-summary__body
        %ul.govuk-list.govuk-error-summary__list
          %li
            %a{href: "#email-error"}= @error_message

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Reset password
      %p Enter you email address to reset your password
      = form_tag update_password_path, method: :get do
        .govuk-form-group{class: ('govuk-form-group--error' if @error_message)}
          %label#email-hint.govuk-label{ for: 'email' }
            Email
          %span#email-error.govuk-error-message
            - if @error_message
              %span.govuk-visually-hidden Error:
              = @error_message
          %input#email.govuk-input{'aria-labelledby': 'email-hint', 'aria-describedby': 'email-error', name: 'email', type: 'text', value: params[:email], class: ('govuk-input--error' if @error_message)}
        %br
        = submit_tag 'Reset password', 'data-role' => 'button', class: 'govuk-button'
