%main.govuk-main-wrapper--auto-spacing#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Taxi/PHV Data Rules
      %p This service allows you to upload your taxi/PHV data.
      %h2.govuk-heading-m File naming rules
      %p
        The file must be named according to the following format:
      %p
        CAZ-yyyy-mm-dd-XXXX-#.csv
      %p
        where:
        %ul.govuk-list-govuk-list--bullet
          %li
            %p yyyy-mm-dd represents the date the file was generated
          %li
            %p XXXX is the agreed identifier for your Licensing Authority
          %li
            %p # is the  total number of records included in the file
      %p
        For example, CAZ-2019-06-18-AuthorityID-4242.csv
      %h2.govuk-heading-m Data rules
      %ul.govuk-list-govuk-list--bullet
        %li
          %p No header row is included
        %li
          %p No trailing row is included
        %li
          %p There is no trailing comma for the last field
        %li
          %p All characters comply with the 'accepted characters' below
        %li
          %p No field contains a newline character
        %li
          %p A field containing a comma or double quite must be quoted in double quotes ("...")
        %li
          %p Double quotes that form part of a field must be escaped with a double quote (i.e. a single " in a field becomes "")
        %li
          %p No spaces should be used between field values and separating commas
        %li
          %p No padding should be applied to fields, unless leading or trailing space is a legitimate part of the field's value
        %li
          %p Each record is separated by a newline (ASCII carriage return)
        %li
          %p Optional fields with no values with be separated by a comma
      %h2.govuk-heading-s
        Accepted characters
      %p Only the following characters may be included in the CSV file:
      %ul.govuk-list-govuk-list--bullet
        %li
          %p A to Z (upper case)
        %li
          %p a to z (lower case)

