%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          Upload successful
        .govuk-panel__body
          National Taxi/PHV register has
          %br/
          been successfully updated
      %h2.govuk-heading-m What happens next
      %p We have saved your data to the National Taxi/PHV register.
      %p You will need to reupload updated document regularly.
      %p
        = link_to 'What did you think of this service?', root_path
        (takes 30 seconds)
