- title_and_header = "Upload successful"
- content_for(:title, title_and_header)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title= title_and_header
        .govuk-panel__body
          Taxi and PHV centralised database has been successfully updated
      - if @warning
        .govuk-warning-text
          %span.govuk-warning-text__icon{'aria-hidden' => true} !
          %strong.govuk-warning-text__text
            %span.govuk-warning-text__assistive Warning
            = @warning
      %h2.govuk-heading-m What happens next
      %p You can update your data whenever you need to by uploading a new file.
      %p
        = external_link_to('What did you think of this service?',
                           Rails.configuration.x.feedback_url,
                           id: 'feedback-survey-link')
        (takes 30 seconds).
