%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          Upload successful
        .govuk-panel__body
          Taxi and PHV centralised database has been successfully updated
      - if @warning
        .govuk-warning-text
          %span.govuk-warning-text__icon{'aria-hidden' => true} !
          %strong.govuk-warning-text__text
            %span.govuk-warning-text__assistive Warning
            = @warning
      %h2.govuk-heading-m What happens next
      %p We have saved your data to the Taxi and PHV centralised database.
      %p You will need to reupload updated document regularly.
      %p
        = external_link_to('What did you think of this service?',
                           Rails.configuration.x.feedback_url,
                           id: 'feedback-link')
        (takes 30 seconds).
