%p Dear Licensing Authority,
%p You have received this email because your Taxi and PHV data is successfully uploaded in Taxi & PHV Centralised Database.
%p
  File Name:
  = @filename
%p
  Date and time of last upload:
  = @submission_time
%p
  For any queries please contact support team via email -
  = mail_to support_service_email, support_service_email

%p
  Regards,
  %br
  Taxi and PHV Data Portal Support Team, Defra

