- title_and_header = 'Reset your password'
- content_for(:title, title_and_header)

= link_to 'Back', @back_button_url, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l= title_and_header
      %p Password reset link is invalid or expired.
      %p= link_to('Send a new password reset email', reset_passwords_path, class: 'govuk-link', id: 'reset-password-link')
