%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      .govuk-panel.govuk-panel--confirmation
        %h1.govuk-panel__title
          Password updated
        .govuk-panel__body
          We have successfully updated you password
      %h2.govuk-heading-m What happens next
      %p
        You can now
        = link_to 'submit CSV', root_path
        with Taxi/PHV data
      %p
        = link_to 'What did you think of this service?', root_path
        (takes 30 seconds)
