@import 'govuk-frontend';
@import 'ministryofjustice-frontend';
@import 'cookie-control';

html {
  background-color: govuk-colour($colour: 'light-grey');
}

.custom-csv-error {
  color: govuk-colour($colour: 'red');
  font-weight: 700;
}

.vrn-input {
  max-width: 20ex + 3ex;
  text-transform: uppercase;
}

.moj-pagination {
  margin-bottom: 30px;
}

.search-notice {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: govuk-colour($colour: 'blue');
  color: govuk-colour($colour: 'white');

  &__body {
    font-family: "GDS Transport", Arial, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
