$govuk-global-styles: true;
$govuk-assets-path: '/packs/media/';

@import '~govuk-frontend/govuk/all';

html {
  background-color: govuk-colour($colour: 'light-grey');
}

.global-cookie-message__hidden {
  display: none !important;
}

.custom-csv-error {
  color: govuk-colour($colour: 'red');
  font-weight: 700;
}
