$govuk-global-styles: true;
$govuk-assets-path: '/packs/media/';

@import "~govuk-frontend/all";

html {
  background-color: govuk-colour('grey-3');
}

.custom-csv-error {
  color: govuk-colour('red');
  font-weight: 700;
}
