$cc-black: #000;
$cc-white: #FFFFFF;
$focus-color: #fd0;

.ccc-button-solid {
  color: $cc-white !important;
  border-color: $cc-black !important;
  background: $cc-black !important;
}

// scss-lint:disable IdSelector
#ccc .checkbox-toggle-input:focus~.checkbox-toggle-toggle {
  -webkit-filter: none !important;
  filter: none !important;
  background-color: $focus-color !important;
}

#ccc-dismiss-button:focus {
  -webkit-filter: none !important;
  filter: none !important;
  border-color: $focus-color !important;
  box-shadow: none !important;
}
// scss-lint:enable IdSelector
