$cc-black: #000000;
$cc-white: #ffffff;
$focus-color: #ffdd00;

/* stylelint-disable selector-max-id, declaration-no-important */
.ccc-button-solid {
  color: $cc-white !important;
  border-color: $cc-black !important;
  background: $cc-black !important;
}

#ccc .checkbox-toggle-input:focus ~ .checkbox-toggle-toggle {
  -webkit-filter: none !important;
  filter: none !important;
  background-color: $focus-color !important;
}

#ccc-dismiss-button:focus {
  -webkit-filter: none !important;
  filter: none !important;
  border-color: $focus-color !important;
  box-shadow: none !important;
}
/* stylelint-enable selector-max-id, declaration-no-important */
