/* stylelint-disable declaration-block-no-duplicate-properties, selector-max-id, declaration-no-important */

$cc-black: #000;
$cc-white: #fff;
$focus-color: #fd0;

.ccc-button-solid {
  color: $cc-white !important;
  border-color: $cc-black !important;
  background: $cc-black !important;
}

#ccc .checkbox-toggle-input:focus ~ .checkbox-toggle-toggle {
  filter: none !important;
  background-color: $focus-color !important;
}

#ccc-dismiss-button:focus {
  filter: none !important;
  border-color: $focus-color !important;
  box-shadow: none !important;
}
/* stylelint-enable declaration-block-no-duplicate-properties, selector-max-id, declaration-no-important */
