- content_for(:title, 'Sorry, there is a problem with the service - Taxi and PHV Data Portal - GOV.UK')

%main#main-content.govuk-main-wrapper.govuk-main-wrapper--l{role: "main"}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl
        Sorry, there is a problem with the service
      %p.govuk-body
        Try again later.
