.govuk-notification-banner.govuk-notification-banner--success{'aria-labelledby': 'govuk-notification-banner-title',
                                                              'data-module': 'govuk-notification-banner',
                                                              role: 'alert',
                                                              id: 'cookies-settings-notification',
                                                              hidden: ''}
  .govuk-notification-banner__header
    %h2#govuk-notification-banner-title.govuk-notification-banner__title
      Success
  .govuk-notification-banner__content
    %h3.govuk-notification-banner__heading
      You've set your cookies preferences.
