%h2.govuk-heading-m
  Cookies used to store user cookie consent
%table.govuk-table
  = render 'static_pages/cookies/table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} CookieControl
      %td.govuk-table__cell This stores user settings consent.
      %td.govuk-table__cell 90 days
