%h2.govuk-heading-m
  Cookies used to store user cookie consent
%table.govuk-table
  = render 'static_pages/cookies/table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} cookies_policy
      %td.govuk-table__cell This stores user settings consent.
      %td.govuk-table__cell 90 days
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} global_bar_seen
      %td.govuk-table__cell Show the cookie banner every time the user accesses service until they accept or reject cookies
      %td.govuk-table__cell 90 days

= form_tag cookies_path, id: 'cookies-settings-form' do
  .govuk-form-group
    %fieldset.govuk-fieldset
      %legend.govuk-fieldset__legend.govuk-fieldset__legend--m
        %h2.govuk-fieldset__heading Do you want to accept analytics cookies?

      .govuk-radios.govuk-radios--inline
        .govuk-radios__item
          %input#cookies-settings-on.govuk-radios__input{name: 'cookies-settings',
                                                         type: 'radio',
                                                         checked: 'cookies-settings',
                                                         value: 'on'}
          %label.govuk-label.govuk-radios__label{for: 'cookies-settings-on'}
            Yes

        .govuk-radios__item
          %input#cookies-settings-off.govuk-radios__input{name: 'cookies-settings',
                                                          type: 'radio',
                                                          checked: 'cookies-settings',
                                                          value: 'off'}
          %label.govuk-label.govuk-radios__label{for: 'cookies-settings-off'}
            No

  = submit_tag 'Save cookies settings', class: 'govuk-button', 'data-module': 'govuk-button', id: 'save-cookies-settings'
  = javascript_pack_tag 'cookiesSettings'
