%h2.govuk-heading-m Cookies used to measure website usage
%p
  We use Google Analytics software to collect information about how you use this service.
  We do this to help make sure the service is meeting the needs of its users and to help us
  make improvements, for example improving site search.
%br
%p Google Analytics stores information about:
%ul.govuk-list-govuk-list--bullet
  %li
    %p the pages you visit
  %li
    %p how long you spend on each page
  %li
    %p how you got to the service
  %li
    %p what you click on while you’re visiting the service
%p
  We allow Google to use or share our analytics data. You can find out more about how Google
  use this information in their
  = succeed '.' do 
    = external_link_to('Privacy Policy',
                       'https://policies.google.com/technologies/partner-sites',
                       id: 'privacy-policy-link')
%p
  You can turn Analytical Cookies on or off  depending on whether you want Google to have access
  to your information.

%p Google Analytics sets the following cookies.
%table.govuk-table
  = render 'static_pages/cookies/table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} _ga
      %td.govuk-table__cell
        This helps us count how many people visit the service by tracking if you’ve visited before
      %td.govuk-table__cell 2 years
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} _gat
      %td.govuk-table__cell Used to manage the rate at which page view requests are made
      %td.govuk-table__cell 1 minute
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} _gid
      %td.govuk-table__cell Identifies you to the service
      %td.govuk-table__cell 24 hours
