%h2.govuk-heading-m
  Cookies used to store the answers you’ve given during your visit (known as a ‘session’)
%p
  Session cookies are stored on your computer as you travel through a website, and let the
  website know what you’ve seen and done so far. These are temporary cookies and are
  automatically deleted a short while after you leave the website.
%table.govuk-table
  = render 'static_pages/cookies/table_head'
  %tbody.govuk-table__body
    %tr.govuk-table__row
      %th.govuk-table__header{scope: 'row'} _csv_uploader_session
      %td.govuk-table__cell Keeps track of your answers
      %td.govuk-table__cell When you close your browser
