%h2.govuk-heading-m Third-party cookies
%h3.govuk-heading-s Our feedback survey
%p
  We use Qualtrics, a third-party tool to collect feedback comments, who may collect cookie information.
  We do this to help make sure the service is meeting the needs of its users and to help us make improvements.
  See
  = link_to('Qualtrics cookie statement',
            'https://www.qualtrics.com/cookie-statement',
            id: 'qualtrics-link')
  for more information.
