#global-cookie-message.global-cookie-message{style: 'display: none;'}
  .govuk-width-container
    %p
      Centralised Taxi and PHV Data Maintenance uses cookies to make the site simpler.
      %a.govuk-link{ href: cookies_path }
        Find out more about cookies
      %span
        or
        %a#close-banner.govuk-link{ href:"#" }
          hide this message
