#global-cookie-message.global-cookie-message.global-cookie-message__hidden
  .govuk-width-container
    %p
      Centralised Taxi and PHV Data Maintenance uses cookies to make the site simpler.
    .cookie-banner__buttons
      .cookie-banner__button.cookie-banner__button-settings
        %button.button.govuk-button.govuk-link#close-banner{role: 'button', autofocus: true}
          Accept cookies
      .cookie-banner__button.cookie-banner__button-settings
        = button_to 'Cookie settings',
                    cookies_path,
                    method: :get,
                    class: 'button govuk-button govuk-link',
                    id: 'cookie-settings',
                    role: 'button'
