#global-cookie-message{style: 'display: none;'}
  .govuk-width-container
    %p
      GOV.UK uses cookies to make the site simpler.
      %a.govuk-link{ href: 'https://www.gov.uk/help/cookies', target: '_blank' }
        Find out more about cookies
      %span
        or
        %a#close-banner.govuk-link{ href:"#" }
          hide this message
