.govuk-phase-banner
  %p.govuk-phase-banner__content
    %strong.govuk-tag.govuk-phase-banner__content__tag
      beta
    %span.govuk-phase-banner__text
      This is a new service – your
      = link_to 'feedback', Rails.configuration.x.feedback_url, target: '_blank', class: 'govuk-link'
      will help us to improve it.
