%button.govuk-header__menu-button.govuk-js-header-toggle{'aria-controls': 'navigation',
                                                         'aria-label': 'Show or hide Top Level Navigation',
                                                         role: 'button',
                                                         type: 'button',
                                                         id: 'menu'} Menu
%nav
  %ul#navigation.govuk-header__navigation{'aria-label': 'Top Level Navigation'}
    - if user_signed_in?
      %li.govuk-header__navigation-item{class: current_path?(authenticated_root_path)}
        %a.govuk-header__link{href: authenticated_root_path, id: 'upload'}
          Upload
      - if current_user.search_group?
        %li.govuk-header__navigation-item{class: current_path?(search_vehicles_path)}
          %a.govuk-header__link{href: search_vehicles_path, id: 'search'}
            Search
      %li.govuk-header__navigation-item{class: current_path?(data_rules_upload_index_path)}
        %a.govuk-header__link{href: data_rules_upload_index_path, id: 'data-rules'}
          Data rules
    %li.govuk-header__navigation-item{class: current_path?(new_user_session_path)}
      - if user_signed_in?
        = link_to('Sign out', destroy_user_session_path,
          method: :delete, class: 'govuk-header__link', id: 'sign-out')
      - else
        = link_to('Sign in', new_user_session_path, class: 'govuk-header__link', id: 'sign-in')
