%button.govuk-header__menu-button.js-header-toggle{'aria-controls': 'navigation',
  'aria-label': 'Show or hide Top Level Navigation', role: 'button', type: 'button'} Menu
%nav
  %ul#navigation.govuk-header__navigation{"aria-label" => "Top Level Navigation"}
    %li.govuk-header__navigation-item
      %a.govuk-header__link{href: upload_index_path}
        Upload
    %li.govuk-header__navigation-item
      %a.govuk-header__link{href: data_rules_path}
        Data rules
    %li.govuk-header__navigation-item
      %a
        - if user_signed_in?
          = link_to('Sign Out', destroy_user_session_path, method: :delete, class: "govuk-header__link")
        - else
          = link_to('Sign In', new_user_session_path, class: "govuk-header__link")

